name: fast_thumbhash
description: >-
  Ultra-fast ThumbHash encoder/decoder for Dart and Flutter. 
  A very compact representation of image placeholders with alpha support 
  and natural loading transitions.
version: 1.0.0
repository: https://github.com/KhaledSMQ/fast_thumbhash
homepage: https://khaled.ee
issue_tracker: https://github.com/KhaledSMQ/fast_thumbhash/issues

environment:
  sdk: '>=2.17.0 <4.0.0'
  flutter: '>=3.0.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
